.first {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 6rem 0 6rem 6rem;
  border-radius: 1.6rem;
  background: var(--surface);
  gap: 15.2rem;
}

@media (width <=1248px) {
  .first {
    flex-direction: column;
    padding: 4rem;
    gap: 3.6rem;
  }
}

@media (width <= 768px) {
  .first {
    padding: 2rem 1rem;
  }
}

.second {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6rem 19.2rem 6rem 0;
  border-radius: 1.6rem;
  background: var(--surface);
}

@media (width <= 1248px) {
  .second {
    flex-direction: column-reverse;
    padding: 4rem;
    gap: 3.6rem;
  }
}

@media (width <= 768px) {
  .second {
    padding: 2rem 1rem;
  }
}

.group {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 20.4rem;
  align-items: center;
  justify-content: center;
  padding: 2.1rem 4rem;
  gap: 1rem;
}
