.cardList {
  display: grid;
  width: 120rem;
  flex-wrap: wrap;
  gap: 2.8rem 2.4rem;
  grid-template-columns: 1fr 1fr 1fr;

  @media (width <= 1248px) {
    width: 100%;
  }

  @media (width <= 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.editCard {
  position: absolute;
  display: none;
}
