.card {
  display: flex;
  max-width: 38.4rem;
  height: 28rem;

  /* flex-direction: column; */
  padding: 2.8rem 2.4rem 2.4rem;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 8%);

  @media (width <= 1024px) {
    max-width: 100%;
  }

  @media (width <= 768px) {
    max-width: 94%;
    height: 26rem;
  }
}

.card:hover {
  border: 3px solid var(--gray-300);
}

.cardContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* mode : edit */

.deleteCard {
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
}

/* mode : normal */

.profile {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--gray-200);
}

.profileInfo {
  display: flex;
  gap: 1.2rem;
}

.profileImage {
  display: flex;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.profileTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-overflow: ellipsis;
}

.profileBadge {
  display: flex;
  width: 4rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  border-radius: 4px;
  margin-top: 0.4rem;
  font-size: 1.4rem;
  white-space: nowrap;
}

.friend {
  background-color: var(--blue-100);
  color: var(--blue-500);
}

.acquaintance {
  background-color: var(--orange-100);
  color: var(--orange-500);
}

.colleague {
  background-color: var(--purple-100);
  color: var(--purple-500);
}

.family {
  background-color: var(--green-100);
  color: var(--green-500);
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.message {
  display: -webkit-box;
  overflow: hidden;
  padding: 0.3rem;
  -webkit-box-orient: vertical;
  color: var(--gray-600);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  -webkit-line-clamp: 3;
  line-height: 2.8rem;
  text-overflow: ellipsis;
}

.notoSans {
  font-family: notoSans, sans-serif;
}

.pretendard {
  font-family: pretendard, sans-serif;
}

.nanumMyeongjo {
  font-family: nanumMyeongjo, sans-serif;
}

.nanumPenScript {
  font-family: nanumPenScript, sans-serif;
}

.date {
  color: var(--gray-400);
  font-size: 1.2rem;
  font-weight: 400;
}
