.headerContainer {
  display: flex;
  max-width: 120rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}

.recipient {
  color: var(--gray-800);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.contentContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.emojiContainer {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.emojiDropDown {
  position: absolute;
  top: 5rem;
  right: 10rem;
  display: flex;
  width: 34rem;
  flex-wrap: wrap;
  padding: 2rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  background-color: var(--white);
  gap: 1rem;
}

.emojiArea {
  display: flex;
  gap: 0.5rem;
}

.dropDown {
  cursor: pointer;
}

.dropDownWrapper {
  position: relative;
  margin-left: 2rem;
}
