.headerContainer {
  display: flex;
  max-width: 120rem;
  height: 5.4rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}

.recipient {
  color: var(--gray-800);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.contentContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.writer {
  margin-right: 6rem;
  margin-left: -3rem;
  color: var(--gray-900);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.emojiContainer {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.emojiDropDown {
  position: absolute;
  top: 5rem;
  right: 19rem;
  display: flex;
  width: 34rem;
  flex-wrap: wrap;
  padding: 2rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  background-color: var(--white);
  gap: 1rem;
}

.emojiBox {
  display: flex;
  width: 6.6rem;
  height: 3.6rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 32px;
  background-color: var(--gray-400);
  color: var(--white);
  font-size: 1.5rem;
}

.topEmojis {
  display: flex;
  gap: 0.5rem;
}

.emojiArea {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.dropDown {
  cursor: pointer;
}

.dropDownWrapper {
  position: relative;
  margin-left: 2rem;
}

.imageStyle {
  display: flex;
}

.profileImage {
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  border: 0.15rem solid var(--white);
  border-radius: 99px;
}

.plusProfile {
  position: relative;
  left: -4.1rem;
  display: flex;
  width: 3.3rem;
  height: 2.8rem;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  border: 0.1rem solid var(--gray-300);
  border-radius: 99px;
  background-color: var(--white);
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.countDescription {
  display: block;
  width: 5rem;
}

.strongSpan {
  font-weight: 800;
}
