@import url('./color.css');
@import url('./font.css');
@import url('./reset.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Pretendard, sans-serif;
  font-style: normal;
  font-weight: normal;
}

button {
  border: none;
  cursor: pointer;
}
