$media_desktop: 1248px;
$media_tablet: 768px;
$media_mobile: 360px;

@mixin mobile {
	@media (max-width: #{$media_tablet - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$media_desktop - 1px}) {
		@content;
	}
}