main {
  display: flex;
  width: 720px;
  flex-direction: column;
  margin: 122px auto;
  gap: 50px;
}

h1 {
  font-size: 24px;
}

p {
  color: var(--Gray-500);
}

.pickerContainer {
  display: flex;
  width: 720px;
  height: 168px;
  gap: 16px;
}

.pickerBox {
  position: relative;
  display: flex;
  width: 168px;
  height: 168px;
  align-items: center;
  justify-content: center;
  border-radius: 8%;
  cursor: pointer;
}

.orange {
  background-color: var(--Orange-200);
}

.purple {
  background-color: var(--Purple-200);
}

.blue {
  background-color: var(--Blue-200);
}

.green {
  background-color: var(--Green-200);
}

.toggleButton {
  width: 122px;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.toggleButtonOn {
  border: 2px solid var(--Purple-600);
  background-color: var(--White);
  color: var(--Purple-700);
}

.createButton {
  height: 56px;
  border: none;
  border-radius: 12px;
  background-color: var(--Purple-600);
  color: var(--White);
  font-size: 18px;
  font-weight: bold;
}

img {
  width: 168px;
  height: 168px;
  border-radius: 8%;
  object-fit: cover;
}

.check {
  position: absolute;
  left: 50%;
  width: 44px;
  height: 44px;
  transform: translateX(-50%);
}

.imagesOpacity {
  opacity: 0.3;
}
