.rollingBackground {
  position: relative;
  z-index: -1;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 14rem);
  background-color: var(--gray-200);
}

.rollingContainer {
  display: flex;
  height: calc(100vh - 14rem);
  flex-direction: column;
  align-items: center;
  padding: 8rem 2.4rem;
}

.purple {
  position: absolute;
  background-color: var(--purple-200);
}

.blue {
  position: absolute;
  background-color: var(--blue-200);
}

.beige {
  position: absolute;
  background-color: var(--orange-200);
}

.green {
  position: absolute;
  background-color: var(--green-200);
}

.imageBackground {
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageBackground::before {
  position: absolute;
  background-color: var(--black);
  content: '';
  inset: 0;
  opacity: 0.3;
}

.buttonContainer {
  display: flex;
  width: 100%;
  max-width: 120rem;
  justify-content: right;
  padding-bottom: 1.6rem;
}

.buttonEdit {
  width: 12rem;
}

@media (width <= 1248px) {
  .rollingBackground {
    padding: 8rem 2.4rem;
  }
}
