header {
  padding: 11px 0;
  border-bottom: 1px solid rgb(237 237 237 / 100%);
}

.headerArea {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

button {
  background-color: white;
}

.makeRollingButton {
  padding: 8px 16px;
  border: 1px solid rgb(204 204 204 / 100%);
  border-radius: 6px;
  color: rgb(24 24 24 / 100%);
}

@media (width <= 1024px) {
  header {
    padding: 11px 24px;
  }
}
