.profileImgList {
  display: flex;
  height: 3.5rem;
  flex: 1;
  flex-wrap: wrap;
  gap: 5px;
}

.image {
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
}

.selected {
  border: 3px solid var(--purple-300);
  border-radius: 30px;
}
