.profileContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3.125rem;
  gap: 0.9375rem;
}

.profileImage {
  display: flex;
  gap: 2rem;
}

.imageSelect {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notClicked {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.clicked {
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--purple-300);
  border-radius: 6.25rem;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
