.profileContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1.5rem;
}

.profileImage {
  display: flex;
  gap: 2rem;
}

.imageSelect {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.customImg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
}

.label {
  position: relative;
}

.delete {
  position: absolute;
  width: 8rem;
  height: 8rem;
  padding-top: 3rem;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
  font-weight: bold;
  opacity: 0.7;
  text-align: center;
}

.customImgContainer {
  position: relative;
  display: flex;
  width: 8rem;
  height: 8rem;

  /* align-items: center;
  justify-content: center; */
}
