.imageList {
    display: flex;
    height: 2.8rem;
    margin-left: 1.2rem;
  }
  
  .imageListDisplay {
    display: flex;
    height: 2.8rem;
    margin-left: 1.2rem;
  }
  
  .image {
    width: 2.8rem;
    height: 2.8rem;
    border: 0.15rem solid var(--gray-200);
    border-radius: 5rem;
    margin-left: -1.2rem;
    background: var(--white, #fff);
    color: var(--gray-500);
  }
  
  .restMessageCount {
    display: flex;
    width: 2.8rem;
    height: 2.8rem;
    align-items: center;
    justify-content: center;
    border: 0.15rem solid var(--gray-200);
    border-radius: 5rem;;
    margin-left: -1.2rem;
    background: var(--white, #fff);
    color: var(--gray-500);
  }
  