.button {
  display: flex;
  width: 28rem;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.4rem;
  border-radius: 1.2rem;
  background: var(--purple-600, #9935ff);
  color: var(--white, #fff);
  font-size: 1.8rem;
  font-weight: 700;
  gap: 1rem;
  letter-spacing: -0.018rem;
  line-height: 2.8rem;
  text-align: center;
}

.button:hover {
  background: var(--purple-700, #861dee);
  transform: scale(1.02);
  transition: all 0.3s;
}

@media (width <= 768px) {
  .button {
    width: 100%;
    height: auto;
  }
}

.buttonArea {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 2.4rem 0;
}

@media (width <= 768px) {
  .buttonArea {
    padding: 2.4rem;
  }
}
