.pickerContainer {
  display: flex;
  width: 72rem;
  flex-wrap: wrap;
  gap: 1.6rem;

  @media (width <= 768px) {
    width: 36rem;
  }
}

.pickerBox {
  position: relative;
  display: flex;
  width: 16.8rem;
  height: 16.8rem;
  align-items: center;
  justify-content: center;
  border-radius: 8%;
  cursor: pointer;
}

.checkOverlay {
  opacity: 0;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  visibility: hidden;
}

.pickerBox:hover .checkOverlay {
  opacity: 1;
  visibility: visible;
}

.imgOverlay {
  transition: opacity 0.5s ease;
}

.pickerBox:hover .imgOverlay {
  opacity: 0.3;
}

.beige {
  background-color: var(--orange-200);
}

.purple {
  background-color: var(--purple-200);
}

.blue {
  background-color: var(--blue-200);
}

.green {
  background-color: var(--green-200);
}

.pickerImage {
  width: 16.8rem;
  height: 16.8rem;
  border-radius: 8%;
  object-fit: cover;
}

.check {
  position: absolute;
  left: 50%;
  width: 4.4rem;
  height: 4.4rem;
  transform: translateX(-50%);
}

.imagesOpacity {
  opacity: 0.3;
}

.input {
  display: none;
}

.inputStyle {
  display: flex;
  padding: 10px 15px;
  border: 1px solid var(--gray-300);
  cursor: pointer;

  &:hover {
    border-color: var(--purple-600);
    transition: 0.5s ease;
  }
}
