:root {
  --Purple-100: #f8f0ff;
  --Purple-200: #ecd9ff;
  --Purple-300: #dcb9ff;
  --Purple-400: #c894fd;
  --Purple-500: #ab57ff;
  --Purple-600: #9935ff;
  --Purple-700: #861dee;
  --Purple-800: #6e0ad1;
  --Purple-900: #5603a7;
  --Orange-100: #fff0d6;
  --Orange-200: #ffe2ad;
  --Orange-300: #ffc583;
  --Orange-400: #ffae65;
  --Orange-500: #ff8832;
  --Blue-100: #e2f5ff;
  --Blue-200: #b1e4ff;
  --Blue-300: #7cd2ff;
  --Blue-400: #34b9ff;
  --Blue-500: #00a2fe;
  --Green-100: #e4fbdc;
  --Green-200: #d0f5c3;
  --Green-300: #9be282;
  --Green-400: #60cf37;
  --Green-500: #2ba600;
  --Gray-100: #f6f6f6;
  --Gray-200: #eee;
  --Gray-300: #ccc;
  --Gray-400: #999;
  --Gray-500: #555;
  --Gray-600: #4a4a4a;
  --Gray-700: #3a3a3a;
  --Gray-800: #2b2b2b;
  --Gray-900: #181818;
  --White: #fff;
  --Black: #000;
  --Error: #dc3a3a;
  --Surface: #f6f8ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Pretendard, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}

button {
  cursor: pointer;
}
