.cardArea {
  display: flex;
  width: 275px;
  height: 260px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 16px;
}

.name {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.backgroundImage {
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
}

/* color */
.purple {
  background-color: var(--purple-200);
  color: var(--black);
}

.blue {
  background-color: var(--blue-200);
  color: var(--black);
}

.beige {
  background-color: var(--orange-200);
  color: var(--black);
}

.green {
  background-color: var(--green-200);
  color: var(--black);
}

/* emoji */
.emojiArea {
  bottom: 0;
  display: flex;
  padding-top: 15px;
  border-top: 1px solid rgb(0 0 0 / 12%);
  gap: 10px;
}

.emoji {
  padding: 8px 12px;
  border-radius: 99px;
  background-color: var(--gray-400);
  color: var(--white);
}

.imageStyle {
  display: flex;
  margin-bottom: 10px;
}

.profileImage {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1.5px solid var(--white);
  border-radius: 99px;
}

.plusProfile {
  width: 33px;
  height: 28px;
  padding: 5px 6px;
  border-radius: 99px;
  background-color: var(--white);
}
