.commonSection {
  position: relative;
}

.container {
  position: relative;
  max-width: 116rem;
  margin-top: 4rem;
  overflow-x: hidden;

  @media (width<=1024px) {
    overflow-x: scroll;
  }
}

.cardFlex {
  display: flex;
  width: 100%;
  gap: 2rem;
  transition: 0.3s;
  white-space: nowrap;

  @media (width<=1024px) {
    width: 100vw;
    scroll-behavior: smooth;
  }
}

.cardFlex::-webkit-scrollbar {
  display: none;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.backward {
  position: absolute;
  top: 19rem;
  left: -3rem;

  @media (width<=1200px) {
    display: none;
  }
}

.forward {
  position: absolute;
  top: 19rem;
  left: 113rem;

  @media (width<=1200px) {
    display: none;
  }
}
